# ==============================
# Java
# ==============================

*.class
*.jar
*.war
*.ear

# ==============================
# Eclipse
# ==============================

.metadata/
.settings/
.classpath
.project

# ==============================
# NetBeans
# ==============================

/build/
/dist/
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Windows
# ==============================

Thumbs.db
Thumbs.db:encryptable
Desktop.ini
$RECYCLE.BIN/

# ==============================
# Outros sistemas operacionais
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Arquivos temporários
# ==============================

*.tmp
*.temp
*.swp
*~